<!DOCTYPE HTML>
<html>
	<head>
   		<title>Home - MMA</title>
   		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
   		<link rel= "stylesheet"  href="/assets/css/semantic.css">
  	</head>
 	<body class="banner">
 		<%- partial("includes/_header.ejs") %>
 		<img class="headimage" src="assets/images/mmaHome.jpg" width=990 height=500>
 		<%- partial("includes/_summary.ejs") %>
		<%- partial("includes/_footer.ejs") %>
 	</body>
 </html>