*
{
 background-color: darkgrey;
 color: white;
}
  #header
{  
  width: 100%;
  float: left;  
  font-size: 21px;
  background: darkred;
}
ul#menu li 
{
  display:inline; 
  line-height: 2em;
  padding-right: .5em;
  padding-left: .5em;
}
ul#menu 
{
  margin: 0;
  padding: 0;
}
ul#menu a
{
  text-decoration: none;
}
#menu li.current a 
{
  background: darkred;
  padding: .5em 2em .5em 2em;
  color:white;
}
#footer
{
  width: 100%;
}
.navigate
{
  float: left;
  width: 100%;
  font-size: 14px;
}
.bothLinks
{
  float: right;
  width: 70%;
  font-size:14px;
}
.links
{
  float: left;
  width: 50%;
  font-size: 14px;
}
.newsLinks
{
  float:right;
  width: 50%;
  font-size: 14px;
}
h2, h3
{
  color: darkred;
  text-decoration: none;
}
.styles-left
{
  float: left;
  width: 86%;
}
.styles-right
{
  float: right;
  width: 100%
}
.image-left
{
  float: left;
  width: 22%;
}
.image-right
{
  float: right;
  width: 8%;
}
.leftColumn
{
  float: left;
  width: 48%;
}
.rightColumn
{
  float: right;
  width: 50%;
}
.headimage
{
  margin-left: 0%;
}