<!DOCTYPE html>
<html lang="en">
	<head>
   		<title>Martial Arts Disciplines</title>
   		<link rel= "stylesheet"  href="/assets/css/semantic.css">
   		<link type="text/css" rel="stylesheet" href="../stylesheet.css"/>	
  	</head>
	<body class="banner">
		<div class="ui center container">
		<%- partial("../includes/_header.ejs") %>
		<div class="ui section divider"> </div>
		<%- yield %>
		<%- partial("../includes/_footer.ejs") %>
		</div>
	</body>
</html>