	<body>
		<main>
			<article class="leftColumn">
				<h2>The Fighter</h2>
				<iframe width="470" height="260" src="https://www.youtube.com/embed/8REJcLEkrts" frameborder="1" allowfullscreen></iframe>
				<h3>What it takes to be fighter?</h3>
				<p>
					It takes a whole lot of hard work and dedication to become a UFC fighter. Most fighters fight professionally in smaller organizations for years and have extensive training in multiple disciplines before the UFC will even consider allowing them in the cage. These fighters are hand picked from the best of the best and the few chosen ones make it to the pinnacle of MMA fighting. 
				</p>
				<p>
					UFC fighters train enough hours each week to make it their full time job. Some of the up-and-coming fighters even juggle an additional full time job on top of their training regimen. Each fighter has his own training "camp" consisting of several coaches and sparring partners to prepare a specific strategy for the next fight. Some fighters hold their training camp at one gym, others travel with their camp to multiple gyms to focus in specific disciplines, while others set up their training camp in a remote location to move away from their families and avoid any distractions.
				</p>
				<p>
					Fighters maintain a rigid diet regimen, and rarely cheat with junk food, in order to maintain the weight required for their weight class. This strict form of eating clean is high in protein and includes plenty of vegetables and whole grains. Certainly, diet and nutrition guidelines vary from one fighter to the next, depending on whether they're trying to gain weight, lose weight or maintain. Eating is no longer a fun and enjoyable activity. Food is just fuel for the body to endure the intense sparring and endless training sessions. When a fighter needs to make weight, even water is a luxury. 
				</p>
				<p>
					Fighters have to transform their bodies to make them as tough and durable as humanly possible. Individual training goals vary from conditioning the body for long periods of high intensity fighting, to training the heart to return to a resting heart rate within the first minute after a round. Repetitive punching drills are done to toughen the skin, tendons, muscles and connective tissues of key body parts used in fighting. Forearms and shins are intentionally pounded to create microfractures, which build up calcium deposits and make the limbs more dense and resilient when striking. 
				</p>
				<p>
					Fighters have a full range of methods used to repair their bodies after extreme physical exertion, including ice baths, recovery shakes, accupuncture or visits to the chiropractor. After each event, fighters are evaluated by doctors who decide how long they need to recuperate. Concussions can take months to heal, broken noses take at least two months to heal and broken hands or feet take even longer. 
				</p>
				<p>
					This is not a sport for the light-hearted. With so many eager up-and-comers, it's critical that these athletes stay mentally motivated and emotionally hungry so they give everything they've got to end fights with a knock out or submission. From cauliflower ear to torn tendons and broken bones, UFC fighters push their bodies to the extreme and then can't wait to do it again. 
				</p>
			</article>
			<article class="rightColumn">
				<h2>The UFC</h2>
				<iframe width="480" height="260" src="https://www.youtube.com/embed/zuzImQo7cdg" frameborder="1" allowfullscreen></iframe>
				<p>
					The fastest growing sports organization in the world, the Ultimate Fighting Championship® (UFC®), started in 1993 as a professional mixed martial arts (MMA) organization. UFC has revolutionized the fight business, and today stands as the world's leading MMA promoter, offering the premier series of MMA sports events that have sold out some of the biggest arenas and stadiums across the globe.
				</p>
				<p>
					The UFC organization follows a rich history and tradition of competitive MMA dating back to the Olympic Games in Athens. About 80 years ago, a Brazilian form of MMA known as Vale Tudo (anything goes) sparked local interest in the sport. Today, the UFC has evolved into an organization where hybrid athletes are required to know various disciplines in order to compete at an elite level in a regulated environment where safety is paramount. UFC athletes are skilled in many forms of martial arts, including karate, jiu-jitsu, boxing, kickboxing, grappling, wrestling, sumo and other combat sports.
				</p>
				<img src="../assets/images/theOctagon.jpg" width=480 height=250>
				<p>
					Owned and operated by Zuffa, LLC, headquartered in Las Vegas and with offices in worldwide, UFC produces more than 40 live events annually and is the largest Pay-Per-View event provider in the world, broadcast in over 129 countries and territories, to nearly 800 million TV households worldwide, in 28 different languages. UFC content is also distributed commercially in the United States to bars and restaurants through Joe Hand Promotions, in English throughout Canada via Premium Sports Broadcasting Inc. and in French throughout Quebec via Interbox.
				</p>
				<p>
					In 2011, the UFC burst into the mainstream with a landmark seven-year broadcast agreement with FOX Sports. The agreement includes four live events broadcast on the FOX network annually, with additional fight cards and thousands of hours of programming broadcast on FOX properties FOX Sports 1 and FOX Sports 2. This also includes the longest-running sports reality show on television, The Ultimate Fighter, which airs on FOX Sports 1 in the United States.
				</p>
			</article>
		</main>
	</body>