<body>
 		<img class="headimage" src="../assets/images/muaythai.jpg" width=990 height=500>
  		<main>
  			<h2>The Sport</h2>
  			<p>
  				Established in Thailand, the kickboxing style of Muay Thai focuses on both striking and clinching techniques. The art is commonly called "the art of eight limbs" due to the eight points of contact in Muay Thai which include punches, elbows, knee strikes and kicks. There are several types of clinches used, including arm clinch, side clinch and low clinch. Many MMA fighters train in Muay Thai because the style teaches fighters how to throw elbow and knee strikes with enough force to cut or even knock out their opponent while in close proximity (like the clinch). 
  			</p>
  			<hr>
  			<article class="leftColumn">
  				<h2>Origins</h2>
  				<img src="../assets/images/muaythaiOrigins.jpg" width=480 height=275>
  				<p>
  					The history of Muay Thai can also be traced to the middle of the 16th century. During the battles between the Burmese of the Konbaung Dynasty and Siam, the famous fighter Nai Khanomtom was captured in the year 1767. The Burmese knew of his expertise in hand-to-hand combat and gave him an opportunity to fight for his freedom. Soon after winning the match, he was freed by his captors and allowed to return to Siam. He was acknowledged as a hero, and his fighting style became known as Siamese-Style boxing, later to be known as Muay Thai. This fighting style was soon to be recognized as a national sport.
  				</p>
  				<p>
  					Muay boran, and therefore Muay Thai, was originally called by more generic names such as Toi muay or simply muay. As well as being a practical fighting technique for use in actual warfare, muay became a sport in which the opponents fought in front of spectators who went to watch for entertainment. These muay contests gradually became an integral part of local festivals and celebrations, especially those held at temples. Eventually, the previously bare-fisted fighters started wearing lengths of hemp rope around their hands and forearms. This type of match was called muay khat chueak. Kickboxing was also a component of military training and gained prominence during the reign of King Naresuan in 1560 CE.
  				</p>
  				<p>
  					Muay Thai is referred to as the "Art of Eight Limbs" or the "Science of Eight Limbs", because it makes use of punches, kicks, elbows and knee strikes, thus using eight "points of contact", as opposed to "two points" (fists) in boxing and "four points" (hands and feet) used in other more regulated combat sports, such as kickboxing and savate. A practitioner of muay Thai is known as a nak muay. Western practitioners are sometimes called Nak Muay Farang, meaning "foreign boxer."
  				</p>
  			</article>
  			<article class="rightColumn">
  				<h2>Modern Muay-Thai</h2>
  				<iframe width="490" height="255" src="https://www.youtube.com/embed/5PN6owrZxMI" frameborder="1" allowfullscreen></iframe>
  				<p>
  					In 1993, the International Federation of Muaythai Amateur, or IFMA was inaugurated. It became the governing body of amateur Muay Thai consisting of 128 member countries worldwide and is recognized by Olympic Council of Asia. In 1995, World Muaythai Council, the oldest and largest professional sanctioning organizations of Muay Thai was set up by the Royal Thai Government and sanctioned by the Sports Authority of Thailand. In 1995, the World Muay Thai Federation was founded via the merger of two existing organizations, and established in Bangkok. as of August 2012, it had over 70 member countries. Its President is elected at the World Muay Thai Congress.
  				</p>
  				<p>
  					In 2006, Muay Thai was included in SportAccord with IFMA becoming the member federation governing international Muay Thai under the SportAccord umbrella. One of the requirements of SportAccord was that no sport can have a name of a country in its name, as a result, an amendment was made in the IFMA constitution to change the name of the sport from 'Muay Thai’ to ‘Muaythai’ written in one word in accordance with Olympic requirements. In 2014 Muay Thai was included in the International World Games Association (IWGA) and will be represented in the official programme of The World Games 2017 in Wrocsaw, Poland. In January 2015, Muay Thai was granted the Patronage of the International University Sports Federation (FISU) and on March the 16th to the 23rd, 2015 the first University World Muaythai Cup will be held in Bangkok.
  				</p>
  				<p>
  					Today, there are thousands of gyms spread out across the globe. The clothing which competitors typically wear is bright and flamboyant. Recently such designs have become quite popular globally and companies such as Infightstyle Inc., from Canada, have contributed to the popularization of the style throughout the world. It is expected that this style will become more and more mainstream as a cult style much like surfwear did in the late 90s.
  				</p>
  			</article>
 		</main>
 	</body>