 	<body>
             <img class="headimage" src="../assets/images/wrestling.jpg" width=990 height=500>
  		<main>
  			<h2>The Sport</h2>
  			<p>
  				Originating in Great Britain, this style of amateur wrestling was deemed an Olympic sport in 1904. Wrestlers are scored on their performance and are allowed to use their legs or the legs of their opponents in offense and defense. The ultimate goal is to get the opponent's shoulder to touch the mat (known as a fall) for an immediate win. MMA fighters use freestyle wrestling for its effective take downs, predominantly the single leg and double leg take downs. One of the most practical defenses in Freestyle Wrestling is the sprawl. For fighters that like to keep the fight standing, learning how to effectively sprawl is beneficial because it keeps the fight off the mat. 
  			</p>
  			<hr>
  			<article class="leftColumn">
  				<h2>Greco Roman Wrestling</h2>
  				<img src="../assets/images/grecoRoman.jpg" width=480 height=240>
  				<p>
  					Greco-Roman (US) or Graeco-Roman (UK) wrestling is a style of wrestling that is practiced worldwide. It was contested at the first modern Olympic Games in 1896 and has been included in every edition of the summer Olympics held since 1908. Two wrestlers are scored for their performance in two three-minute periods, which can be terminated early by a pin (or fall). This style of wrestling forbids holds below the waist; this is the major difference from freestyle wrestling, the other form of wrestling at the Olympics. This restriction results in an emphasis on throws because a wrestler cannot use trips to take an opponent to the ground, or avoid throws by hooking or grabbing the opponent's leg.
  				</p>
  				<p>
  					Arm drags, bear hugs, and headlocks, which can be found in Freestyle, have even greater prominence in Greco-Roman. In particular, a throw known as a suplex is used, in which the offensive wrestler lifts his opponent in a high arch while falling backward on his own neck to a bridge in order to bring his opponent's shoulders down to the mat. Even on the mat, a Greco-Roman wrestler must still find several ways to turn his opponent's shoulders to the mat for a fall without legs, including techniques known as the bodylock and the gut-wrench.
  				</p>
  				<p>
  					According to United World Wrestling (UWW; formerly known as the International Federation of Associated Wrestling Styles, or FILA), Greco-Roman wrestling is one of the six main forms of amateur competitive wrestling practised internationally today. The other five forms are Freestyle wrestling, Grappling/Submission wrestling, Beach wrestling, Pankration athlima, Alysh/Belt wrestling and Traditional/Folk wrestling. 
  				</p>
  				<p>
  					In February 2013, the International Olympic Committee voted to exclude freestyle and Greco-Roman wrestling from the 2020 Summer Olympic Games, but shortlisted it to be considered for reinclusion. In September 2013, at the 125th Session of the International Olympic Committee (IOC), wrestling was elected as an additional sport.
  				</p>
  			</article>
  			<article class="rightColumn">
  				<h2>Freestyle Wrestling</h2>
  				<img src="../assets/images/freestyleWrestling.jpg" width=480 height=180>
  				<p>
  					Freestyle wrestling is a style of amateur wrestling that is practiced throughout the world. Along with Greco-Roman, it is one of the two styles of wrestling contested in the Olympic games. American high school and college wrestling is conducted under different rules and is termed scholastic and collegiate wrestling. 
  				</p>
  				<p>
  					Freestyle wrestling, like collegiate wrestling, has its greatest origins in catch-as-catch-can wrestling and, in both styles, the ultimate goal is to throw and pin your opponent to the mat, which results in an immediate win. Freestyle and collegiate wrestling, unlike Greco-Roman, allow the use of the wrestler's or his opponent's legs in offense and defense. Freestyle wrestling brings together traditional wrestling, judo, and sambo techniques.
  				</p>
  				<p>
  					According to wrestling's world governing body, United World Wrestling (UWW), freestyle wrestling is one of the four main forms of amateur competitive wrestling that are practiced internationally today. The other main forms of wrestling are Greco-Roman and grappling (also called submission wrestling). The Executive Board of the International Olympic Committee (IOC) recommended dropping wrestling as a sport from the 2020 Olympic Games, but the decision was later reversed by the IOC.
  				</p>
  				<img src="../assets/images/freestyleWrestling2.jpg" width=480 height=275>
  			</article>
 		</main>
 	</body>