<footer id="footer">
 	<div class="navigate">
 		<h5>Navigate</h5>
 		<p>
 			<ul>
 				<li><a href="index.html">Home</a></li>
 				<li><a href="strands/about.html">MMA</a></li>
 				<li><a href="strands/boxing.html">Boxing</a></li>
 				<li><a href="strands/bjj.html">BJJ</a></li>
 				<li><a href="strands/kickboxing.html">Kickboxing</a></li>
 				<li><a href="strands/muaythai.html">Muay-Thai</a></li>
 				<li><a href="strands/wrestling.html">Wrestling</a></li>
 			</ul>
 		</p>
 	</div>
 	<div class="bothLinks">
 		<div class="links">
 			<h5>External Links</h5>
 			<p>
 				<ul>
 					<li><a href="http://www.ufc.com">UFC Official Website</a></li>
 					<li><a href="http://www.espn.com/boxing/">ESPN Boxing</a></li>
 					<li><a href="http://www.bjjee.com">BJJ Eastern Europe</a></li>
 					<li><a href="http://www.kickboxingplanet.com">Kickboxing Planet</a></li>
 					<li><a href="http://www.muaythaiauthority.com">Muay Thai Authority News</a></li>
 					<li><a href="https://unitedworldwrestling.org/">United World Wrestling</a></li>
 				</ul>
 			</p>
 		</div>
 		<div class="newsLinks">
 			<h5>News Links</h5>
 			<p>
 				<ul>
 					<li><a href="http://www.bleacherreport.com/mma">Bleacher Report</a></li>
 					<li><a href="http://www.bloodyelbow.com">Bloody Elbow</a></li>
 					<li><a href="http://www.mmamania.com">MMA Mania</a></li>
 					<li><a href="http://www.mmafighting.com">MMA Fighting</a></li>
 				</ul>
 			</p>
 		</div>
 	</div>
</footer>