<header id = "header">
	<link rel="stylesheet" href="/assets/css/semantic.css">
 	<ul id="menu">
 		<a href="../index.html"> <img src="/assets/images/mmaLogo.png" width="200" height="45" ></a>
 		<li><a href="../index.html">Home</a></li>
 		<li><a href="/strands/about.html">MMA</a></li>
 		<li><a href="/strands/boxing.html">Boxing</a></li>
 		<li><a href="/strands/bjj.html">BJJ</a></li>
 		<li><a href="/strands/kickboxing.html">Kickboxing</a></li>
 		<li><a href="/strands/muaythai.html">Muay-Thai</a></li>
 		<li><a href="/strands/wrestling.html">Wrestling</a></li>
 	</ul>
</header>